:root {
  --black: #141414;
  --white: #fff;
  --primary: #1db954;
  --gray: #d4d4d4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

.app-container {
  width: 400px;
  padding: 10px 20px 20px;
  background-color: var(--black);
  color: var(--white);
  font-family: "Circular Spotify Text", monospace;
  opacity: 0.8;
  transition: opacity 200ms;
}

.app-container:hover {
  opacity: 1;
}

.app-header {
  -webkit-app-region: drag;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}

.app-header__song {
  color: var(--primary);
  font-weight: bold;
}

.app-header__close {
  -webkit-app-region: no-drag;
  background: none;
  border: none;
  font-size: unset;
  font-family: unset;
  cursor: pointer;
  color: var(--gray);
  text-decoration: underline;
}

.lyric-lines {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  row-gap: 5px;
}

.lyric-line {
  white-space: nowrap;
  transition: 200ms;
}

.lyric-line:last-child {
  display: none;
}

.lyric-line:first-child,
.lyric-line:nth-child(3) {
  font-size: 14px;
  font-weight: 300;
  color: var(--gray);
  overflow: hidden;
  text-overflow: ellipsis;
}

.lyric-line:nth-child(2) {
  font-size: 26px;
  font-weight: 900;
  height: 37px;
  width: 100%;
  text-align: center;
  position: relative;
}

.lyric-line:nth-child(2) span {
  position: absolute;
  left: 50%;
  animation-duration: 1490ms;
  animation-name: marquee;
  animation-timing-function: linear;
}

@keyframes marquee {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}
